In [3]:
import pandas as pd
path = r"C:\Users\admin\Downloads\day.csv"
df = pd.read_csv(path)
print("The first 5 rows of the dataframe") 
df.head(10)

The first 5 rows of the dataframe

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
5,6,2011-01-06,1,0,1,0,4,1,1,0.204348,0.233209,0.518261,0.089565,88,1518,1606
6,7,2011-01-07,1,0,1,0,5,1,2,0.196522,0.208839,0.498696,0.168726,148,1362,1510
7,8,2011-01-08,1,0,1,0,6,0,2,0.165000,0.162254,0.535833,0.266804,68,891,959
8,9,2011-01-09,1,0,1,0,0,0,1,0.138333,0.116175,0.434167,0.361950,54,768,822
9,10,2011-01-10,1,0,1,0,1,1,1,0.150833,0.150888,0.482917,0.223267,41,1280,1321

In [4]:
df.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

This dataset is clean

In [6]:
path = r"C:\Users\admin\Downloads\hour.csv"
hr = pd.read_csv(path)
print("The first 5 rows of the dataframe") 
hr.head(10)

The first 5 rows of the dataframe

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
5,6,2011-01-01,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,0.0896,0,1,1
6,7,2011-01-01,1,0,1,6,0,6,0,1,0.22,0.2727,0.80,0.0000,2,0,2
7,8,2011-01-01,1,0,1,7,0,6,0,1,0.20,0.2576,0.86,0.0000,1,2,3
8,9,2011-01-01,1,0,1,8,0,6,0,1,0.24,0.2879,0.75,0.0000,1,7,8
9,10,2011-01-01,1,0,1,9,0,6,0,1,0.32,0.3485,0.76,0.0000,8,6,14

In [7]:
hr.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

This data is also cleaned

In [8]:
df.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [9]:
hr.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

Feature Extrations for day

In [10]:
m=df.corr()["cnt"]
list_keys = list(m.keys())
list_Values = m.to_list()
t = dict(zip(list_keys,list_Values))
t_final = {}
for x in t:
  if t[x]>0.5 or t[x]<-0.5:
    t_final.update({x:t[x]})
print(t_final)

{'instant': 0.6288302722083062, 'yr': 0.5667097078680867, 'temp': 0.6274940090334914, 'atemp': 0.6310656998491828, 'casual': 0.6728044333386828, 'registered': 0.9455169158090359, 'cnt': 1.0}

In [11]:
t_final.keys()

dict_keys(['instant', 'yr', 'temp', 'atemp', 'casual', 'registered', 'cnt'])

Feature extration for hour

In [12]:
n=hr.corr()["cnt"]
list_keys1 = list(n.keys())
list_Values1 = n.to_list()
t1 = dict(zip(list_keys1,list_Values1))
t_final1 = {}
for x in t:
  if t1[x]>0.5 or t1[x]<-0.5:
    t_final1.update({x:t[x]})
print(t_final1)

{'casual': 0.6728044333386828, 'registered': 0.9455169158090359, 'cnt': 1.0}

In [13]:
t_final1.keys()

dict_keys(['casual', 'registered', 'cnt'])

Training and testing for day

In [14]:
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [15]:
features =['instant', 'yr', 'temp', 'atemp', 'casual', 'registered']
x = df.loc[:,features]
y = df.loc[:,['cnt']]

In [16]:
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=0, train_size = .80)

In [17]:
X_train

     instant  yr      temp     atemp  casual  registered
97        98   0  0.335833  0.324479     172        1299
503      504   1  0.564167  0.551121    1521        6118
642      643   1  0.657500  0.607975     891        6437
498      499   1  0.612500  0.585238    2172        3946
303      304   0  0.340000  0.356063     362        3307
..       ...  ..       ...       ...     ...         ...
707      708   1  0.381667  0.389508    1153        4429
192      193   0  0.794167  0.739275     662        3596
629      630   1  0.599167  0.571971    1250        6917
559      560   1  0.731667  0.667933    1511        5988
684      685   1  0.321667  0.324492     320        5125

[584 rows x 6 columns]

Multi Linear Regression for day

In [18]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train, y_train)
print(lm.intercept_)
lm.coef_

[-4.54747351e-12]

array([[ 4.73808863e-15, -1.71707093e-12,  3.12539101e-12,
         3.38131948e-13,  1.00000000e+00,  1.00000000e+00]])

In [19]:
Y_predict_multifit=lm.predict(X_test) # this function is used to predict the price parameter x is array
print("predicted price for 0 to 4 index value is ",Y_predict_multifit[0:10])
print("actual values are",y_test[0:10])

predicted price for 0 to 4 index value is  [[5923.]
 [4592.]
 [1248.]
 [1360.]
 [4075.]
 [1817.]
 [2659.]
 [6234.]
 [6857.]
 [1167.]]
actual values are       cnt
196  5923
187  4592
14   1248
31   1360
390  4075
319  1817
299  2659
702  6234
462  6857
27   1167

Multi Linear Regression for hour

In [20]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
print('MSE: ', mean_squared_error(y_test, Y_predict_multifit))
print('R2: ', r2_score(y_test,  Y_predict_multifit))

MSE:  3.399722868366063e-24
R2:  1.0

In [21]:
features1 =['casual', 'registered']
x1 = df.loc[:,features1]
y1 = df.loc[:,['cnt']]

In [22]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(x1, y1, random_state=0, train_size = .80)

In [23]:
X_train1

     casual  registered
97      172        1299
503    1521        6118
642     891        6437
498    2172        3946
303     362        3307
..      ...         ...
707    1153        4429
192     662        3596
629    1250        6917
559    1511        5988
684     320        5125

[584 rows x 2 columns]

In [24]:
lm1 = LinearRegression()
lm1.fit(X_train1, y_train1)
print(lm1.intercept_)
lm1.coef_

[-9.09494702e-13]

array([[1., 1.]])

In [25]:
Y_predict_multifit1=lm1.predict(X_test1) # this function is used to predict the price parameter x is array
print("predicted price for 0 to 4 index value is ",Y_predict_multifit1[0:10])
print("actual values are",y_test1[0:10])

predicted price for 0 to 4 index value is  [[5923.]
 [4592.]
 [1248.]
 [1360.]
 [4075.]
 [1817.]
 [2659.]
 [6234.]
 [6857.]
 [1167.]]
actual values are       cnt
196  5923
187  4592
14   1248
31   1360
390  4075
319  1817
299  2659
702  6234
462  6857
27   1167

In [26]:
print('MSE: ', mean_squared_error(y_test1, Y_predict_multifit1))
print('R2: ', r2_score(y_test1,  Y_predict_multifit1))

MSE:  9.881678257316622e-25
R2:  1.0

Multi Polynomial for day

In [27]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
#We create the pipeline, by creating a list of tuples including the name of the model or estimator and its corresponding constructor.
Input=[('scale',StandardScaler()), ('polynomial', PolynomialFeatures(2)), ('model',LinearRegression())]
#we input the list as an argument to the pipeline constructo
pipe=Pipeline(Input)
pipe

Pipeline(steps=[('scale', StandardScaler()),
                ('polynomial', PolynomialFeatures()),
                ('model', LinearRegression())])

In [28]:
#We can normalize the data, perform a transform and fit the model simultaneously.
pipe.fit(X_train,y_train)

Pipeline(steps=[('scale', StandardScaler()),
                ('polynomial', PolynomialFeatures()),
                ('model', LinearRegression())])

In [29]:
ypipe=pipe.predict(X_test)
ypipe[0:4]

array([[5923.],
       [4592.],
       [1248.],
       [1360.]])

In [30]:
#polynomial regression
print("polynomial regression:")
print('R2: ',r2_score(y_test, ypipe))
print('MSE:',mean_squared_error(y_test, ypipe))

polynomial regression:
R2:  1.0
MSE: 7.714725304831299e-24

Multi polynomial for hour

In [31]:
Input1=[('scale',StandardScaler()), ('polynomial', PolynomialFeatures(2)), ('model',LinearRegression())]
#we input the list as an argument to the pipeline constructo
pipe1=Pipeline(Input)
pipe1

Pipeline(steps=[('scale', StandardScaler()),
                ('polynomial', PolynomialFeatures()),
                ('model', LinearRegression())])

In [32]:
#We can normalize the data, perform a transform and fit the model simultaneously.
pipe1.fit(X_train1,y_train1)

Pipeline(steps=[('scale', StandardScaler()),
                ('polynomial', PolynomialFeatures()),
                ('model', LinearRegression())])

In [33]:
ypipe1=pipe.predict(X_test1)
ypipe1[0:4]

array([[5923.],
       [4592.],
       [1248.],
       [1360.]])

In [34]:
#polynomial regression
print("polynomial regression:")
print('R2: ',r2_score(y_test1, ypipe1))
print('MSE:',mean_squared_error(y_test1, ypipe1))

polynomial regression:
R2:  1.0
MSE: 8.87671711770341e-25